i.fa {
  cursor: pointer;
  color: silver;
}
i.fa-plus:hover {
  color: yellow;
}
i.fa-times:hover {
  color: red;
}
i.fa-edit:hover {
  color: green;
}
img.ficon {
  width: 32px;
  height: 32px;
  margin-top: 2px;
  margin-bottom: 2px;
}
img.sicon {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}
